<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a [routerLink]="['/home']"     [routerLinkActive]="['linkActivated']">Home  </a>
    <a [routerLink]="['/fruit']"    [routerLinkActive]="['linkActivated']">Fruit  </a>
    <a [routerLink]="['/employee']" [routerLinkActive]="['linkActivated']">Employee  </a>
    <a [routerLink]="['/contact']"  [routerLinkActive]="['linkActivated']">Contact  </a>
    <a [routerLink]="['/cars']"     [routerLinkActive]="['linkActivated']">Cars  </a>
    <a [routerLink]="['/template']" [routerLinkActive]="['linkActivated']">Template  </a>
  </nav>

<!--<fruit></fruit>-->
<!--<employee></employee>-->
</div>

<router-outlet></router-outlet>
